@media (min-width: 576px) and (max-width: 768px) {
    .nav-links a span {
        display: none;
    }

    .see-more {
        font-size: 18px;
        padding: 8px 16px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }
}

